<div class="modal-content">
  <h2>Schedule meeting with <%= targetUsername %></h2>

  <form hx-post="/meetings" hx-target="#content" hx-swap="outerHTML">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="hidden" name="targetUsername" value="<%= targetUsername %>" />

    <label>Start date (YYYY/mm/dd)</label>
    <input name="startDate" placeholder="2025/12/31" required />

    <label>Start time (HH:MM)</label>
    <input name="startTime" placeholder="18:45" required />

    <!-- <label>Scene type</label>
    <input name="sceneType" placeholder="Cafe, bar, park..." required /> -->
    <label for="scene-select">Choose a scene:</label>

    <select name="pets" id="scene-select">
      <option value="">--Please choose an option--</option>
      <option value="white_court">White Court</option>
      <option value="cat">Cat</option>
      <option value="hamster">Hamster</option>
      <option value="parrot">Parrot</option>
      <option value="spider">Spider</option>
      <option value="goldfish">Goldfish</option>
    </select>

    <!-- <label>Duration (minutes)</label>
    <input name="duration" type="number" value="60" required /> -->
    <fieldset>
      <legend>Select a time limit:</legend>

      <div>
        <input type="radio" id="5" name="drone" value="5" checked />
        <label for="5">5 mins</label>
      </div>

      <div>
        <input type="radio" id="10" name="drone" value="10" />
        <label for="10">10 mins</label>
      </div>

      <div>
        <input type="radio" id="15" name="drone" value="15" />
        <label for="15">15 mins</label>
      </div>
    </fieldset>

    <button type="submit">Book</button>
  </form>
</div>
