<!-- <video autoplay muted loop playsinline id="background-video">
    <source src="/public/videos/bg-video.mp4" type="video/mp4" />
  </video> -->

<section class="auth">
  <h1>Login</h1>

  <% if (error) { %>
  <p class="error"><%= error %></p>
  <% } %>

  <form method="post" action="/login">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <label>Email</label>
    <input name="email" type="email" required />

    <label>Password</label>
    <input name="password" type="password" required />

    <button type="submit">Sign in</button>
  </form>

  <p>New here? <a href="/register">Join us</a></p>
</section>
